/*-----------------tung-------------------*/
/*Settings System*/
.form-seting-site input,
.form-seting-site textarea{
	width: 70%;
}
.form-seting-site select{
	width: 71.5%;
}
.form-seting-site .span3 label{
	text-align: right;
}
.form-seting-site>.row-fluid>.span12{
	padding: 10px;
}
.delivery-insurance{
	display: block;
}
.control-group  .btn[type="reset"],
.control-group  .btn[type="submit"]{
    width: 135px;
}
.floatingBox form.form-horizontal.contentForm .control-group{
	margin-bottom: 15px;
    padding-bottom: 10px;
}
/*View User info*/
.tableHeadline .header-tab-view.not-bor{
	margin-right: 0;
}
.tableHeadline .header-tab-view.not-bor .input-append .add-on{
	border:none;
	background-color:inherit;
}
.content .container-fluid .page-header{
	margin: 0;
}
.content .container-fluid .page-header h1{
	font-size: 30px;
	margin: 0;
	line-height: 30px;
}
/*pager*/
.pager li > a, .pager li > span{
	border-radius: 0;
	color: #616161;
}
.pager li.paginate_active > a, .pager li.paginate_active > span{
	background-color: #f2f2f2;
}
.pager li.hidden{
	display: none;
}
/*update content*/
#members-form .control-group input.btn[type="submit"]{
	margin-left: 0;
	width: auto;
}
/*language flag*/
#PopupLanguage,
#PopupLanguage ul{
	background-color: #3f4347;
    display: block;
    font-size: 13px;
    list-style: none;
    margin: 0;
    width: 65px;
}
#PopupLanguage ul:hover{
	background-color: #2e3337;
}
#PopupLanguage ul{
	padding: 2px 10px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
}
#PopupLanguage ul img{
	margin-left: -3px;
	margin-top: -2px;
}
.collapsibleContent {
    position: relative;
}
#PopupLanguage{
	position: absolute;
	top:22px;
	left: 0;
}
#PopupLanguage ul li a{
	outline: none;
	color: #e9e9e9;
	text-decoration: none; 
	line-height: 22px;
}
#PopupLanguage ul li a:hover{
	color: #33b5e5;
}
.link_PopupLanguage.add-on.add-on-middle img{
	margin-top: -8px;
}
/*fix gred table*/
#membersTable_form,
.table #membersTable{
	width: 100%;
	padding: 0;
}
.containerHeadline.tableHeadline form{
	margin-right: 0;
}
.table .filters input {
    width: 92%;
    margin: 5px 0 5px 0;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.table .filters td:first-child input {
	width: 60px;
}
.table.tablesorter td{
	padding: 4px 8px;
}
#membersTable_form .summary,
#membersTable .summary{
	padding: 8px;
}
.table.tablesorter tr:last-child td{
	border-bottom: 1px solid #ddd;
}
.table.table-bordered .pager .pagination{
	margin: 0 15px;

}
/*sort table*/
.floatingBox.table .table-bordered.table{
	padding: 0 0 1px;
	width: 100% !important;
}
.floatingBox.table .table-bordered.table .summary{
	padding: 4px 10px;
}
.table.tablesorter th{	
	padding: 0!important;
}
#product-comments-grid_c1,
.table.tablesorter th.button-column,
.table.tablesorter th#products-grid_c1{
	padding: 8px!important;
}
.table.tablesorter th a.sort-link{
	color: #616161;
	display: block;
	padding: 8px;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	white-space: normal;
    background: url(../img/sort.gif) center right no-repeat, rgb(254,254,254); /* Old browsers */
    background: url(../img/sort.gif) center right no-repeat, -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(243,243,243,1) 100%); /* FF3.6+ */
    background: url(../img/sort.gif) center right no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(243,243,243,1))); /* Chrome,Safari4+ */
    background: url(../img/sort.gif) center right no-repeat, -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(243,243,243,1) 100%); /* Chrome10+,Safari5.1+ */
    background: url(../img/sort.gif) center right no-repeat, -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(243,243,243,1) 100%); /* Opera 11.10+ */
    background: url(../img/sort.gif) center right no-repeat, -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(243,243,243,1) 100%); /* IE10+ */
    background: url(../img/sort.gif) center right no-repeat, linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(243,243,243,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}
#videos-grid #videos-grid_c3,
#product-comments-grid_c1,
.image-product .table.tablesorter th,
.table.tablesorter th.button-column{
	background-image: none;
	padding: 8px;
	width: 105px;
    background: rgb(254,254,254); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(243,243,243,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(243,243,243,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(243,243,243,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(243,243,243,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(243,243,243,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(243,243,243,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}
.table.tablesorter th a.sort-link.desc{
	background-image: url(../img/sort-desc.gif);
	border-bottom: #33B5E5 2px solid;
    color: #000;
    background: url(../img/sort-desc.gif) center right no-repeat, rgb(243,243,243); /* Old browsers */
    background: url(../img/sort-desc.gif) center right no-repeat, -moz-linear-gradient(top,  rgba(243,243,243,1) 0%, rgba(254,254,254,1) 100%); /* FF3.6+ */
    background: url(../img/sort-desc.gif) center right no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,243,243,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: url(../img/sort-desc.gif) center right no-repeat, -webkit-linear-gradient(top,  rgba(243,243,243,1) 0%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: url(../img/sort-desc.gif) center right no-repeat, -o-linear-gradient(top,  rgba(243,243,243,1) 0%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
    background: url(../img/sort-desc.gif) center right no-repeat, -ms-linear-gradient(top,  rgba(243,243,243,1) 0%,rgba(254,254,254,1) 100%); /* IE10+ */
    background: url(../img/sort-desc.gif) center right no-repeat, linear-gradient(to bottom,  rgba(243,243,243,1) 0%,rgba(254,254,254,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
.table.tablesorter th a.sort-link.asc{
	border-bottom: #33B5E5 2px solid;
    color: #000;
    background: url(../img/sort-asc.gif) center right no-repeat, rgb(243,243,243); /* Old browsers */
    background: url(../img/sort-asc.gif) center right no-repeat, -moz-linear-gradient(top,  rgba(243,243,243,1) 0%, rgba(254,254,254,1) 100%); /* FF3.6+ */
    background: url(../img/sort-asc.gif) center right no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,243,243,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
    background: url(../img/sort-asc.gif) center right no-repeat, -webkit-linear-gradient(top,  rgba(243,243,243,1) 0%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: url(../img/sort-asc.gif) center right no-repeat, -o-linear-gradient(top,  rgba(243,243,243,1) 0%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
    background: url(../img/sort-asc.gif) center right no-repeat, -ms-linear-gradient(top,  rgba(243,243,243,1) 0%,rgba(254,254,254,1) 100%); /* IE10+ */
    background: url(../img/sort-asc.gif) center right no-repeat, linear-gradient(to bottom,  rgba(243,243,243,1) 0%,rgba(254,254,254,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
#products-grid.table.table-bordered select{
	margin-top: 5px;
	width: auto;
}
.fix-select-box select.span2{
	/*min-width: 185px;*/
	width: 185px;
}
.cat-require ul.parsley-error-list{
	clear: both;
}
.cat-require ul.validateitem{
	background: none repeat scroll 0 0 rgba(231, 76, 60, 0.3) !important;
    border: 1px solid rgba(231, 76, 60, 0.5);
    color: #c0392b !important;
}
/*menu*/
.mainmenu ul.nav ul.dropdown-menu li.active > a{
	color: #fff;
}
/*-----------------end tung-----------------*/
/*manager product*/ 
#cke_Products_description{
	width: 82.9787%;
	padding: 0;
}

/*
 *** VinhTQ  Begin
*/
.hasDatepicker {
    background: url("../img/ic_calendar.png") no-repeat scroll right center transparent !important;
}
#sign-in{
    cursor: pointer;
}
.summary{
    text-align: right !important;
}
.block .footer, .block-fluid .footer {
    background-color: #f2f2f2;
    border-top: 1px solid #dae1e8;
    margin-top: 5px;
    padding: 5px 5px 4px;
    text-align: right;
}
.tar {
    text-align: right;
}
.action-permissions-title{
    width:70%;
    text-align:center !important;
    font-weight: bold;
    font-size: 15px;
}
.name-permissions-role{
    font-weight: bold;
    font-size: 15px;
}
.name-parent-value{
    padding-left: 250px !important;
    font-weight: bold;
    text-align: center !important;
}
.name-child-value{
   text-align: right !important;
    margin-right: 15px;
}
.plupload_header_content{
    display:none !important;
}
.new-captcha a {
    background: url("../img/refresh_icon.png") no-repeat scroll center center / 100% 100% transparent;
    display: inline-block;
    font-size: 0;
    height: 18px;
    line-height: 30px;
    width: 18px;
}
.new-captcha #NewsComments_verifyCode {
    font-size: 20px;
    padding: 5px 10px;
    width: 150px;
    display:block;
}
/*
 *** VinhTQ  End
*/