@import "variables";
#content-feed {
  padding-bottom: 0;
}
.fitmatch-container {
  .fitmatch-header {
    padding: 30px 0 20px 5px;
    color: @pink;
    font-size: 21pt;
    text-transform: uppercase;
    font-family: "Proxima Nova SemiBold";
    border-bottom: 1px solid #d7d7d7;
  }
  .fitmatch-body {
    padding: 30px 0;
    .card-container {
      border: 1px solid #e8e5e5;
      background-color: white;
      padding: 0;
      .card-info {
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 30px;
        padding-top: 20px;

        border-bottom: 1px solid #e8e5e5;
        .avatar {
          padding-right: 0;
          padding-left: 0;
          margin-bottom: 10px;
          img {
            margin: 0 auto;
          }
        }
        .user-info {
          @media (max-width: @xs-width) {
            text-align: center;
          }
          .nickname-info {
            .nickname {
              padding-left: 0;
              padding-right: 0;
              font-size: 20pt;
              color: @pink;
              font-family: "HelveticaNueveLtPro Bd";
            }
          }
          .personal-info {
            div {
              padding-left: 0;
              padding-right: 0;
            }
            .birth,
            .job,
            .location {
              font-family: "Proxima Nova SemiBold";
              font-size: 10pt;
              color: #687381;
              padding-left: 25px;
              background-position: left center;
              background-repeat: no-repeat;
              height: 18px;
              line-height: 18px;
              @media (max-width: @xs-width) {
                padding-left: 0;
              }
            }
          }
          .about-info {
            color: #a39c9c;
            font-size: 12pt;
            font-family: "Proxima Nova Regular Italic";
            padding: 10px 0;
          }
          .tags {
            .tag {
              width: auto;
              display: inline-block;
              div {
                display: inline-block;
              }
              color: white;
              font-family: "Proxima Nova Regular", Helvetica, sans-serif;
              .tag-left {
                left: 0;
                top: 0;
                background: url('../images/tag-left.png');
                width: 16px;
                height: 30px;
              }
              .tag-right {
                background: url('../images/tag-right.png') no-repeat;
                width: 4px;
                height: 30px;
                position: relative;
                right: 6px;
              }
              .tag-middle {
                position: relative;
                bottom: 12px;
                @media (max-width: @xs-width) {
                  bottom: 13px;
                }
                right: 3px;
                font-size: 10pt;
                padding: 0 10px;
                white-space: nowrap;
                height: 30px;
                line-height: 30px;
                background: url('../images/tag-middle.png') repeat-x 0 1px;
              }
            }
          }
        }
      }
      .card-photos {
        .photos-header {
          color: #868f9a;
          font-family: "Proxima Nova SemiBold";
          font-size: 14pt;
          padding: 20px 15px;
        }
        .photos {
          padding-bottom: 30px;
          .photo {
          }
        }
      }
    }
    .card-decision {
      background-color: #e4e4e4;
      .decision-header {
        color: @pink;
        text-transform: uppercase;
        font-family: "Proxima Nova SemiBold";
        font-size: 18pt;
        text-align: center;
        padding: 15px 0;
      }
      .decision-buttons {
        padding: 0 0 15px 0;
        div {
          @media (max-width: @xs-width) {
            text-align: center;
            padding: 5px 0 !important;
          }
          padding: 5px 150px;
          button {
            font-family: "Proxima Nova Regular", Helvetica, sans-serif;
          }
        }
      }
    }
    .left-side {

    }
    .right-side {

    }
  }
}