@import "variables";
body {
  background: #fbfeff;
}
.views {
  padding-bottom: @footer-menu-height;
  z-index: 10;
  &.mobile-chat {
    padding-bottom: 0;
  }
}

.searching-text {
  font-family: "Proxima Nova Regular", Helvetica, sans-serif;
  font-size: 12pt;
  color: #66696c;
  text-align: center;
}
.searching-gif {
  margin: 0 auto 20px auto;
}

.settings-header {
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  .profile-thumb {
    padding-top: 15px;
    img {
      max-height: 100px;
      max-width: 100px;
      border: 2px solid #fff;
      border-radius: 3px;
    }
    .view-profile-link {
      padding-top: 5px;
      a {
        color: #fff;
        text-transform: none;
        text-decoration: none;
        font-family: "Proxima Nova Light", Helvetica, sans-serif;
        font-size: 14pt;
      }
    }
  }
}