body {
  background: #fbfeff;
}
.views {
  padding-bottom: 60px;
  z-index: 10;
}
.views.mobile-chat {
  padding-bottom: 0;
}
.searching-text {
  font-family: "Proxima Nova Regular", Helvetica, sans-serif;
  font-size: 12pt;
  color: #66696c;
  text-align: center;
}
.searching-gif {
  margin: 0 auto 20px auto;
}
.settings-header {
  height: 150px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}
.settings-header .profile-thumb {
  padding-top: 15px;
}
.settings-header .profile-thumb img {
  max-height: 100px;
  max-width: 100px;
  border: 2px solid #fff;
  border-radius: 3px;
}
.settings-header .profile-thumb .view-profile-link {
  padding-top: 5px;
}
.settings-header .profile-thumb .view-profile-link a {
  color: #fff;
  text-transform: none;
  text-decoration: none;
  font-family: "Proxima Nova Light", Helvetica, sans-serif;
  font-size: 14pt;
}
.settings-elements {
  margin-top: 30px;
}
.settings-elements .list-block {
  width: 100%;
}
.settings-elements .list-block li .item-content {
  padding-left: 0;
}
.settings-elements .list-block li .item-content.tall-item .item-inner {
  padding: 20px 20px 20px 0;
}
.settings-elements .list-block li .item-content .item-inner .label {
  color: #000;
  padding-left: 15px;
  font-family: "Proxima Nova Regular", Helvetica, sans-serif;
  text-align: left;
}
.settings-elements .list-block li .item-content .item-inner .item-input {
  width: 70%;
}
.settings-elements .list-block li .item-content .item-inner .item-input .label-switch input[type=checkbox]:checked + .checkbox,
.settings-elements .list-block li .item-content .item-inner .item-input #distance-slider.noUi-connect,
.settings-elements .list-block li .item-content .item-inner .item-input #age-slider .noUi-connect {
  background: #ea5a5a;
}
.settings-elements .list-block li a {
  text-decoration: none;
  font-family: "Proxima Nova Regular", Helvetica, sans-serif;
}
.settings-elements .list-block li a .item-inner {
  text-align: center;
  display: inline;
  padding-top: 11px;
  padding-right: 15px;
}
.modal.modal-in {
  z-index: 99999;
  overflow: visible;
  overflow-y: visible;
  display: block;
}
.noUi-handle {
  width: 28px !important;
  border-radius: 50% !important;
}
.noUi-handle:before {
  content: none !important;
}
.noUi-handle:after {
  content: none !important;
}
