@import "variables";
body {
  background: #fbfeff;
}
.views {
  padding-bottom: @footer-menu-height;
  z-index: 10;
  &.mobile-chat {
    padding-bottom: 0;
  }
}

.searching-text {
  font-family: "Proxima Nova Regular", Helvetica, sans-serif;
  font-size: 12pt;
  color: #66696c;
}