body {
  background: #fbfeff;
}
.views {
  padding-bottom: 60px;
  z-index: 10;
}
.views.mobile-chat {
  padding-bottom: 0;
}
.searching-text {
  font-family: "Proxima Nova Regular", Helvetica, sans-serif;
  font-size: 12pt;
  color: #66696c;
}
