.menu-notification {
  display: none;
  position: absolute;
  top: 34px;
  right: -13px;
  width: 400px;
}
.menu-notification .notification-balloon {
  width: 100%;
  height: 9px;
  background: url('../images/notification-balloon.png') no-repeat 369px 1px;
  position: absolute;
  z-index: 100;
}
.menu-notification .notification-dropdown-items {
  padding-left: 0;
  padding-right: 0;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #fefefe;
  width: 100%;
  margin: 8px 0 0 0;
}
.menu-notification .notification-dropdown-items .notification-dropdown-item {
  padding: 10px 5px;
  border-bottom: 1px solid #eeeeee;
}
.menu-notification .notification-dropdown-items .notification-dropdown-item .notification-photo {
  padding: 0;
}
.menu-notification .notification-dropdown-items .notification-dropdown-item .notification-content {
  padding-left: 10px;
  padding-right: 0;
  font-size: 10pt;
  color: #313541;
  padding-top: 10px;
  font-family: "Proxima Nova Regular", Helvetica, sans-serif;
}
.menu-notification .notification-dropdown-items .notification-dropdown-item .notification-content a,
.menu-notification .notification-dropdown-items .notification-dropdown-item .notification-content a:hover {
  color: #313541;
  font-family: "Proxima Nova SemiBold";
}
.menu-notification .notification-dropdown-items .notification-dropdown-item .notification-time {
  padding-top: 11px;
  padding-left: 0;
  text-align: right;
  font-size: 8pt;
  color: #a4a4a4;
  font-family: "Proxima Nova Reguler", Helvetice, sans-serif;
}
.menu-notification .notification-dropdown-items .notification-dropdown-all {
  padding: 20px 0;
  background-color: #f8f8f8;
  text-align: center;
}
.menu-notification .notification-dropdown-items .notification-dropdown-all a {
  color: #ea5a5a;
  font-family: "Proxima Nova SemiBold", Helvetica, sans-serif;
  font-size: 12pt;
}
.notifications-container {
  padding: 50px;
}
.notifications-container .notifications {
  border: 1px solid #cdc7c7;
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.notifications-container .notifications .notifications-header {
  font-size: 16pt;
  text-transform: uppercase;
  font-family: "Proxima Nova Semibold";
  color: #4c505a;
  padding: 40px 20px;
  border-bottom: 1px solid #ebeaea;
  background-color: #fefefe;
}
.notifications-container .notifications .notifications-body {
  background-color: #fefefe;
  padding: 0 20px 20px 20px;
}
.notifications-container .notifications .notifications-body .notification-date-separator {
  color: #6d7282;
  font-size: 14pt;
  font-family: "Proxima Nova Semibold", Helvetica, sans-serif;
  padding: 30px 0;
}
.notifications-container .notifications .notifications-body .notification-container {
  font-size: 10pt;
  color: #313541;
  font-family: "Proxima Nova Regular", Helvetica, sans-serif;
}
.notifications-container .notifications .notifications-body .notification-container a,
.notifications-container .notifications .notifications-body .notification-container a:hover {
  color: #313541;
  font-family: "Proxima Nova SemiBold";
}
.notifications-container .notifications .notifications-body .notification-container span {
  font-size: 8pt;
  color: #a4a4a4;
  font-family: "Proxima Nova Reguler", Helvetice, sans-serif;
}
.notifications-container .notifications .notifications-body .message-notification {
  padding: 15px 0 10px 30px;
  background: url('../images/notification/message.png') no-repeat left center;
}
.notifications-container .notifications .notifications-body .friend-notification {
  background: url('../images/notification/friend.png') no-repeat left center;
}
.notifications-container .notifications .notifications-body .favour-notification {
  padding: 15px 0 15px 30px;
  background: url('../images/notification/favour.png') no-repeat left center;
}
.notifications-container .notifications .notifications-body .video-notification {
  background: url('../images/notification/video.png') no-repeat left center;
}
.notifications-container .notifications .notifications-body .photo-notification {
  background: url('../images/notification/photo.png') no-repeat left center;
}
