.settings-categories {
  margin-top: 10px;
  text-align: left;
  justify-content: initial;
  -webkit-justify-content: initial;
}
.settings-categories a {
  width: 100%;
  text-decoration: none;
}
.settings-categories a .category {
  width: 100%;
  justify-content: initial;
  -webkit-justify-content: initial;
  border-bottom: 1px solid #f6f6f6;
  padding: 0 0 10px 0;
}
.settings-categories a .category .icon {
  padding-left: 20px;
  padding-right: 0;
}
.settings-categories a .category .icon i {
  font-size: 26pt;
  color: #cecece;
  padding: 10px 25px;
}
.settings-categories a .category .icon i.fa-envelope {
  padding-left: 19px;
}
.settings-categories a .category .icon i.fa-cog {
  padding-left: 21px;
}
.settings-categories a .category .icon i.fa-share-alt {
  padding-left: 21px;
}
.settings-categories a .category .text {
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 0;
}
.settings-categories a .category .text .title {
  font-size: 14pt;
  color: #ea5a5a;
}
.settings-categories a .category .text .description {
  justify-content: initial;
  -webkit-justify-content: initial;
  font-size: 10pt;
  color: #b0b1b0;
}
