@font-face {
  font-family: "Proxima Nova SemiBold";
  src: url('../fonts/proximanova-semibold-webfont.ttf');
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url('../fonts/proximanova-bold-webfont.ttf');
}
@font-face {
  font-family: "Proxima Nova Regular";
  src: url('../fonts/ProximaNova-Regular.ttf');
}
@font-face {
  font-family: "Proxima Nova Regular Italic";
  src: url('../fonts/ProximaNova-RegularItalic.otf');
}
@font-face {
  font-family: "HelveticaNueveLtPro Bd";
  src: url('../fonts/HelveticaNeueLTPro-Bd.ttf');
}
@font-face {
  font-family: "HelveticaNueveLtPro Roman";
  src: url('../fonts/HelveticaNeueLTPro-Roman.ttf');
}
@font-face {
  font-family: "Proxima Nova BoldIt";
  src: url('../fonts/ProximaNova-BoldIt.ttf');
}
@font-face {
  font-family: "Proxima Nova ExtraBold";
  src: url('../fonts/ProximaNova-Extrabold.otf');
}
body,
.label-text {
  font-family: "Proxima Nova Bold" !important;
}
.label-text {
  font-size: 14px;
  font-style: normal;
  width: 100%;
  color: #a4a4a4;
  margin-bottom: 10px;
}
#wrapper {
  background-color: white;
}
.container {
  /*background-color: #f1f1f1;*/
}
.settings-header-blue {
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: #2d3c46;
  height: 60px;
  text-transform: uppercase;
  font-size: 14pt;
  line-height: 60px;
  color: #74808f;
  text-shadow: 1px 1px black;
  font-family: "Proxima Nova SemiBold";
}
ul.settings-categories {
  background-color: #f8f7f7;
  padding: 0;
}
ul.settings-categories > li {
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  height: 50px;
  list-style: none;
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 0;
}
ul.settings-categories > li.active {
  background-color: #f0eeee;
}
ul.settings-categories > li:hover {
  background-color: #f0eeee;
}
ul.settings-categories > li > a {
  display: block;
  font-size: 12.23px;
  font-family: "Proxima Nova SemiBold";
  color: #313541;
  margin: 0 auto;
}
div.setting-detail {
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: white;
}
button.btn-save-st,
button.btn-cancel-st {
  height: 30px;
  border: none;
  color: #ffffff;
  font: normal 18px / normal Proxima Nova Bold;
  font-family: "Proxima Nova Bold";
  text-transform: none;
}
button.btn-save-st,
.btn-save-search,
.btn-search-page,
.post-btn,
.add-comment-btn {
  background: url('../images/ok-btn-bg.png') repeat-x !important;
  border-radius: 4px;
  color: white !important;
  font-size: 16px;
  font-family: "Proxima Nova Bold" !important;
}
button.btn-cancel-st {
  background: url('../images/cancel-btn-bg.png') repeat-x !important;
  margin-left: 0;
}
.contennt-btn-form {
  float: right;
}
.btn-row > div {
  padding-left: 0;
  padding-right: 0;
}
.select-day,
.select-month,
.select-gender {
  width: 180px;
  float: left;
  -webkit-appearance: none;
  background: #ffffff url('../images/icon-textbox.png') no-repeat 97% center;
}
.select-month {
  margin-left: 10px;
}
input,
select {
  color: #a4a4a4 !important;
  font-family: "Proxima Nova Regular" !important;
}
.content-notification .col-sm-12 .checkbox label {
  padding-left: 5px;
  top: 2px;
  position: relative;
  font-family: "Proxima Nova Regular";
  color: #a4a4a4;
}
.content-notification .form-group {
  margin-bottom: 350px;
}
.gender-block {
  padding-left: 0;
  margin-bottom: 10px;
}
.gender-block > label {
  padding-left: 3px;
}
.label-gender {
  padding-bottom: 0;
  margin-bottom: 15px;
}
.content-references > form > div,
.content-references > form > div > label {
  padding-left: 0;
}
.who-is-block {
  margin-bottom: 20px;
}
.radio > label {
  color: #a4a4a4;
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  top: 10px;
  position: relative;
}
input[type="radio"] {
  display: none;
}
.who-is-block .label-gender {
  margin-bottom: 0;
}
div.radio {
  padding-left: 0;
}
input[type="radio"] + label {
  background: url('../images/radio.png') no-repeat;
  height: 26px;
  line-height: 26px;
  width: 100%;
  display: inline-block;
  padding: 0 0 0 40px;
}
input[type="radio"]:checked + label {
  background: url('../images/radio-active.png') no-repeat;
  height: 26px;
  line-height: 26px;
  width: 100%;
  display: inline-block;
  padding: 0 0 0 40px;
}
.radio {
  margin-top: 0;
}
.interested-block .label-gender {
  margin-top: 0;
}
.scroll-container {
  margin: 20px 30px;
  background-color: white;
  border: 1px solid #e8e5e8;
}
#mixedContent {
  width: 100%;
  height: 120px;
  position: relative;
  overflow-y: hidden;
}
#mixedContent .contentBox {
  position: relative;
  width: auto;
  float: left;
  display: block;
  padding: 10px;
  margin: 0px 5px;
  margin-bottom: 200px;
  /* If you don't want the images in the scroller to be selectable, try the following
     block of code. It's just a nice feature that prevent the images from
     accidentally becoming selected/inverted when the user interacts with the scroller. */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center;
}
#mixedContent .contentBox img {
  margin-bottom: 10px;
  cursor: pointer;
}
div.featured-scroll-header {
  font-size: 11pt;
  font-family: "Proxima Nova SemiBold";
  color: #313541;
  text-transform: uppercase;
  padding: 10px 0;
}
p.f-nick {
  font-family: "HelveticaNueveLtPro Bd";
  font-size: 15px;
  color: #4d5a63;
  cursor: pointer;
}
p.f-data {
  font-family: "HelveticaNueveLtPro Roman";
  font-size: 12px;
  color: #a39c9c;
  cursor: pointer;
}
.input-text {
  width: 560px;
}
.main-search label {
  color: #a4a4a4;
  font-family: "Proxima Nova Bold";
  padding-left: 1px;
}
.main-search span {
  font-family: "Proxima Nova BoldIt";
  font-size: 13px;
  color: #a4a4a4;
  float: left;
  line-height: 42px;
  padding: 0 10px;
}
.main-search input {
  font-family: "Proxima Nova Regular";
  color: #a4a4a4;
  padding: 10px 15px;
  background: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fff', endColorstr='#fff');
  border: 1px solid #a4a4a4;
  width: 65px;
  font-size: 14px;
  float: left;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  behavior: url('../pie/PIE.htc');
  text-align: center;
  height: 42px;
}
.text-explore input {
  text-align: left;
}
.checkbox input {
  width: 20px;
  height: auto;
  vertical-align: middle;
  position: relative;
  bottom: 2px;
}
.checkbox > label {
  display: inline-block;
  vertical-align: middle;
  font-family: "Proxima Nova Bold";
}
.checkbox-row {
  padding-left: 0;
  padding-top: 10px;
}
.checkbox-row > .search-block-02 {
  margin-right: 16px;
}
.checkbox-row > .search-block-02 > div > label > input {
  right: 4px;
}
.main-search .search-block {
  padding: 30px 0 15px 20px;
}
.main-search .search-block ul li {
  font-family: "Proxima Nova SemiBold";
  font-size: 13px;
  float: left;
}
.main-search .search-block ul li.simple {
  width: 20%;
}
.main-search .search-block .text-explore input,
.main-search .search-block .text-explore select {
  border-radius: 0;
}
.main-search .last-block {
  padding: 30px 0;
}
.hidden-element {
  display: none;
}
.content-head .notify .head-settings a {
  font-size: 14pt;
  width: 22px;
  height: 20px;
  position: relative;
  float: left;
}
body .navbar {
  background-color: #fbfeff;
  text-align: center;
}
body .navbar .container {
  display: inline-block;
  width: 217px !important;
}
body .navbar .container .navbar-header {
  display: inline-block !important;
}
body .navbar .container .navbar-header .navbar-brand {
  display: inline-block !important;
  padding-top: 10px;
}
body .navbar .container .navtitle {
  color: white;
}
body .navbar .container .navbar-icons {
  font-size: 12pt;
  color: #687380;
}
body .navbar .container .navbar-icons li a:hover,
body .navbar .container .navbar-icons li a:focus {
  color: #ea5a5a;
}
body .navbar .container .navbar-icons li a .link-label {
  color: white;
  padding-left: 10px;
}
@media (max-width: 767px) {
  body .navbar .container .navbar-icons li a .link-label {
    display: inline !important;
  }
}
.footer-menu {
  height: 60px;
  background-color: #fbfeff;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9000;
  border-top: 1px solid #e1e1e1;
}
.footer-menu .footer-link {
  padding: 9px 0;
  height: 65px;
}
.footer-menu .footer-link a {
  text-align: center;
  color: #66696c;
  text-decoration: none;
}
.footer-menu .footer-link a .link-icon {
  height: 31px;
}
.footer-menu .footer-link a .link-icon i {
  font-size: 20pt;
}
.footer-menu .footer-link a .text {
  font-size: 12pt;
  font-family: "Proxima Nova Light", Helvetica, sans-serif;
}
.footer-menu .footer-link:active a .link-icon i,
.footer-menu .footer-link.active a .link-icon i {
  color: #ea5a5a;
}
.footer-menu .footer-link:active a .text,
.footer-menu .footer-link.active a .text {
  color: #ea5a5a;
}
