@font-face {
    font-family: "Proxima Nova SemiBold";
    src: url('../fonts/proximanova-semibold-webfont.ttf');
}
@font-face {
    font-family: "Proxima Nova Bold";
    src: url('../fonts/proximanova-bold-webfont.ttf');
}
@font-face {
    font-family: "Proxima Nova Regular";
    src: url('../fonts/ProximaNova-Regular.ttf');
}
@font-face {
    font-family: "HelveticaNueveLtPro Bd";
    src: url('../fonts/HelveticaNeueLTPro-Bd.ttf');
}
@font-face {
    font-family: "HelveticaNueveLtPro Roman";
    src: url('../fonts/HelveticaNeueLTPro-Roman.ttf');
}

body,
.label-text {
    font-family: "Proxima Nova Bold" !important;
}

.label-text {
    font-size: 14px;
    font-style: normal;
    width: 100%;
    color: #a4a4a4;
    margin-bottom: 10px;
}

#wrapper {
    background-color: white;
}

.container {
    background-color: #f1f1f1;
}
.settings-header-blue {
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #2d3c46;
    height: 60px;
    text-transform: uppercase;
    font-size: 14pt;
    line-height: 60px;
    color: #74808f;
    text-shadow: 1px 1px black;
    font-family: "Proxima Nova SemiBold";
}

ul.settings-categories {
    background-color: #f8f7f7;
    padding: 0;
}
ul.settings-categories > li {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    height: 50px;
    list-style: none;
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 0;
}
ul.settings-categories > li.active {
    background-color: #f0eeee;
}

ul.settings-categories > li:hover {
    background-color: #f0eeee;
}

ul.settings-categories > li > a {
    display: block;
    font-size: 12.23px;
    font-family: "Proxima Nova SemiBold";
    color: rgb(49, 53, 65);
    margin: 0 auto;
}

div.setting-detail {
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: white;
}

button.btn-save-st,
button.btn-cancel-st {
    height: 30px;
    border: none;
    color: #ffffff;
    font: normal 18px/normal Proxima Nova Bold;
    font-family: "Proxima Nova Bold";
    text-transform: none;
}

button.btn-save-st {
    background: url('../images/ok-btn-bg.png') repeat-x !important;
}

button.btn-cancel-st {
    background: url('../images/cancel-btn-bg.png') repeat-x !important;
    margin-left: 0;
}
.contennt-btn-form {
    float: right;
}
.btn-row > div {
    padding-left: 0;
    padding-right: 0;
}

.select-day,
.select-month,
.select-gender {
    width: 180px;
    float: left;
    -webkit-appearance: none;
    background: #ffffff url('../images/icon-textbox.png') no-repeat 97% center;
}
.select-month {
    margin-left: 10px;
}
input,
select {
    color: #a4a4a4 !important;
    font-family: "Proxima Nova Regular" !important;
}

.content-notification .col-sm-12 .checkbox label {
     padding-left: 5px;
     top: 2px;
     position: relative;
     font-family: "Proxima Nova Regular";
     color: #a4a4a4;
 }

.content-notification .form-group {
    margin-bottom: 350px;
}

.gender-block {
    padding-left: 0;
    margin-bottom: 10px;
}
.gender-block > label {
    padding-left: 3px;
}
.label-gender {
    padding-bottom: 0;
    margin-bottom: 15px;
}
.content-references > form > div,
.content-references > form > div > label {
    padding-left: 0;
}

.who-is-block {
    margin-bottom: 20px;
}
.radio > label{
    color: #a4a4a4;
    font-family: "Proxima Nova Regular";
    font-size: 16px;
    top: 10px;
    position: relative;
}

input[type="radio"] {
    display:none;
}
.who-is-block .label-gender {
    margin-bottom: 0;
}
div.radio {
    padding-left: 0;
}
input[type="radio"] + label
{
    background: url('../images/radio.png') no-repeat;
    height: 26px;
    line-height: 26px;
    width: 100%;
    display:inline-block;
    padding: 0 0 0 40px;
}

input[type="radio"]:checked + label
{
    background: url('../images/radio-active.png') no-repeat;
    height: 26px;
    line-height: 26px;
    width: 100%;
    display: inline-block;
    padding: 0 0 0 40px;
}

.radio {
    margin-top: 0;
}
.interested-block .label-gender {
    margin-top: 0;
}
.scroll-container {
    margin: 20px 30px;
    background-color: white;
    border: 1px solid #e8e5e8;
}
#mixedContent {
    width: 100%;
    height: 100px;
    position: relative;
}

#mixedContent .contentBox {
    position: relative;
    width: auto;
    float: left;
    display: block;
    padding: 10px;
    margin: 0px 5px;
    /* If you don't want the images in the scroller to be selectable, try the following
       block of code. It's just a nice feature that prevent the images from
       accidentally becoming selected/inverted when the user interacts with the scroller. */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#mixedContent .contentBox img {
    margin-bottom: 10px;
}

p.f-nick {
    font-family: "HelveticaNueveLtPro Bd";
    font-size: 15px;
    color: #4d5a63;
}
p.f-data {
    font-family: "HelveticaNueveLtPro Roman";
    font-size: 12px;
    color: #a39c9c;
}