.my-profile .looking-for-stripe .text > i {
  font-size: 14pt;
  font-weight: bold;
  padding-right: 15px;
  cursor: pointer;
}
.my-profile .profile-description .description-edit {
  margin-top: 15px;
}
.my-profile .profile-description .description-edit i.description-edit-icon {
  cursor: pointer;
  font-weight: bold;
  opacity: 0;
  font-size: 14pt;
}
.my-profile .profile-description .desc-textarea {
  width: 100%;
  height: 100%;
  min-height: 100px;
  resize: none;
}
.my-profile .looking-for-stripe i.edit-looking-for {
  cursor: pointer;
  font-weight: bold;
  opacity: 0;
}
.my-profile .description-edit-buttons {
  margin-top: 12px;
}
.my-profile .custom-question-btn {
  background-color: #ed4c5f;
}
.my-profile .info-block .name div {
  padding: 0;
}
.my-profile .info-block .name div i.edit-info-block {
  cursor: pointer;
  font-weight: bold;
  opacity: 0;
}
.my-profile .info-block .value textarea.value-textarea {
  width: 100%;
  height: 100%;
  min-height: 50px;
  resize: none;
}
.my-profile .info-block .value .fitness-tags-list-edit {
  padding-left: 5px;
  margin-top: 5px;
}
.my-profile .info-block .value .fitness-tags-list-edit li i {
  color: #ea5a5a;
}
.my-profile .info-block .value .fitness-tags-list-edit li i.fa-close {
  cursor: pointer;
}
.my-profile .new-question input.custom-question-input {
  width: 100%;
  margin: 5px 0;
}
.my-profile .new-question textarea.custom-question-textarea {
  width: 100%;
  min-height: 50px;
  margin: 5px 0;
  resize: none;
}
.my-profile .right-element .header {
  line-height: 10px;
}
.my-profile .right-element .header span {
  padding: 8px 0;
  position: absolute;
}
.my-profile .right-element .header .add-new-btn {
  background-color: #313541;
  color: #FFFFFF;
  padding: 8px;
  font-family: "Proxima Nova Regular";
  font-size: 8pt;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
}
.my-profile #avatar-form {
  display: none;
}
.my-profile .avatar-upload-popover {
  opacity: 0;
  font-size: 20pt;
  position: relative;
  bottom: 58%;
  left: 42%;
  cursor: pointer;
}
.my-profile .avatar-upload-popover i {
  color: #ea5a5a;
}
.my-profile .set-profile {
  opacity: 0;
  font-size: 20pt;
  position: absolute;
  bottom: 39%;
  left: 44%;
  cursor: pointer;
  color: #ea5a5a;
}
.autocomplete-suggestions {
  border: 1px solid #e8e5e5;
  background: #FFF;
  cursor: default;
  overflow: auto;
  -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.autocomplete-suggestion {
  padding: 4px 5px;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Proxima Nova Regular", Helvetica, sans-serif;
  font-size: 10pt;
}
.autocomplete-suggestion strong {
  color: #ea5a5a;
  font-weight: bold;
}
.autocomplete-no-suggestion {
  padding: 2px 5px;
}
.autocomplete-selected {
  background: #F0F0F0;
}
.autocomplete-group {
  padding: 2px 5px;
}
.autocomplete-group strong {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  display: block;
  border-bottom: 1px solid #000;
}
