/*.content-main-1 div[class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}*/
.infor-user {
    display: none;
}
.content-main-1 > .row {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
}
.profile-header {
    background-color: #f8f8f7;
    border: 1px solid #e8e5e5;
    padding: 20px 0;
}
div.avatar-container {
    padding: 0 15px;
    height: 120px;
}
.avatar-image {
    width: 120px;
    height: 120px;
}
.online-circle {
    position: relative;
    bottom: 31px;
    left: 71%;
}
.profile-info {
    padding: 0 15px;
}
.profile-info > div {
    margin-bottom: 10px;
}
.profile-info > .user-name {
    font-family: "Helvetica Neue LTPro Bd";
    font-size: 16pt;
    color: #ea5a5a;
    padding-left: 0;
}
.profile-info .profile-data,
.profile-info .job,
.profile-info .location {
    font-family: "Proxima Nova SemiBold";
    font-size: 10pt;
    color: #687381;
    padding-left: 30px;
    background-position: left center;
    background-repeat: no-repeat;
    height: 18px;
    line-height: 18px;
}
.profile-info .profile-data {
    background-image: url('../images/fish/profile-icon.png');
}
.profile-info .job {
    background-image: url('../images/fish/work-icon.png');
}

.profile-info .location {
    background-image: url('../images/fish/location-icon.png');
    background-position: 0.8% center;
}

.profile-header .container-element {
    padding: 0 15px;
}

.profile-header .header-container {
    padding: 0;
    border: 1px solid #d9d9d9;
}
.profile-header .header-container .photos-thumb {
    background-color: white;
    text-align: center;
}
.profile-header .header-container .photos-thumb img {
    margin: 0 auto;
}

.profile-header .header-container .photos-thumb img.no-thumb {
    padding-top: 15px;
    padding-bottom: 15px;
}
.profile-header .header-container .desc {
    font-family: "Proxima Nova SemiBold";
    font-size: 10pt;
    color: #687381;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}
.header-container .desc {
    border-top: 1px solid #d9d9d9;
}

.profile-description {
    font-family: "Proxima Nova Regular Italic";
    padding: 15px;
    background-color: white;
    color: #a39c9c;
    font-size: 10pt;
    border: 1px solid #d9d9d9;
    border-top: none;
}

.profile-description .desc-text {
    padding: 10px 0px 10px 20px;

}

.profile-description .desc-buttons {
    padding-top: 10px;
    padding-left: 50px;
}

.looking-for-stripe {
    margin: 20px 0;
    background-color: #ea5a5a;
    padding: 40px 0;
}
.looking-for-stripe > .text {
    font-family: "HelveticaNueveLtPro Roman";
    font-size: 14pt;
    line-height: 14pt;
    vertical-align: middle;
    color: #FFFFFF;
    padding-left: 30px;
}
.looking-for-stripe .param {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
.looking-for-stripe .param > div {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}
.looking-for-stripe .param > .text {
    font-family: "Proxima Nova SemiBold";
    font-size: 10pt;
    line-height: 16px;
    vertical-align: middle;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}
.looking-for-stripe .param img {
    margin: auto;
}
.profile-left {
    padding: 0;
}
.profile-left > .left-info,
.profile-left > .left-custom {
    background-color: white;
    border: 1px solid #e8e5e5;
    border-radius: 4px;
}

.profile-left .info-block {
    padding: 10px 0;
    border-bottom: 1px solid #f5f5f5;
}
.profile-left .info-block:last-child {
    border-bottom: none;
}
.profile-left .info-block > .name {
    font-family: "Proxima Nova Bold";
    font-size: 12pt;
    text-transform: uppercase;
    color: #a4a4a4;
}
.profile-left .info-block > .value {
    font-family: "Proxima Nova Regular";
    font-size: 10pt;
    color: #a4a4a4;
    padding: 15px;
}

.profile-left .left-info {
    margin-bottom: 15px;
}
.profile-right {
    padding-right: 0;
}
.profile-right .header {
    background-color: #f8f8f7;
    padding: 10px 15px;
    text-transform: uppercase;
    font-family: "Proxima Nova Regular";
    font-size: 12pt;
    color: #a5a5a5;
    border-bottom: 1px solid #e8e5e5;
}
.profile-right .right-element {
    padding: 0;
    border: 1px solid #e8e5e5;
    margin-bottom: 15px;
}
.profile-right .body {
    background-color: #ffffff;
}
.profile-right .right-element > .body {
    padding: 0;
}

.profile-right .body > .photo-container {
    padding: 15px;
}
.profile-right .body > .photo-container img {
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}
.profile-right .featured-users .body {
    padding: 20px;
}
.profile-right .featured-users .body > .featured-person {
    text-align: center;
    padding: 25px 15px;
}
.profile-right .featured-users .body > .featured-person > div {
    padding: 0;
}
.custom-question-btn {
    padding: 8px 40px;
    background-color: #e1e1e1;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Proxima Nova SemiBold";
    font-size: 12pt;
    text-transform: uppercase;
    margin-top: 5px;
}