.my-profile .looking-for-stripe .text > i {
  font-size: 14pt;
  font-weight: bold;
  padding-right: 15px;
  cursor: pointer;
}
.my-profile .profile-description .description-edit {
  margin-top: 15px;
}
.my-profile .profile-description .description-edit i.description-edit-icon {
  cursor: pointer;
  font-weight: bold;
  opacity: 0;
  font-size: 14pt;
}
.my-profile .profile-description .desc-textarea {
  width: 100%;
  height: 100%;
  min-height: 100px;
  resize: none;
}
.my-profile .looking-for-stripe i.edit-looking-for {
  cursor: pointer;
  font-weight: bold;
  opacity: 0;
}
.my-profile .description-edit-buttons {
  margin-top: 12px;
}
.my-profile .custom-question-btn {
  background-color: #ed4c5f;
}
.my-profile .info-block .name div {
  padding: 0;
}
.my-profile .info-block .name div i.edit-info-block {
  cursor: pointer;
  font-weight: bold;
  opacity: 0;
}
.my-profile .info-block .value textarea.value-textarea {
  width: 100%;
  height: 100%;
  min-height: 50px;
  resize: none;
}
.my-profile .new-question input.custom-question-input {
    font-family: "Proxima Nova Regular";
  width: 100%;
  margin: 5px 0;
}
.my-profile .new-question textarea.custom-question-textarea {
    font-family: "Proxima Nova Regular";
    width: 100%;
    min-height: 50px;
    margin: 5px 0;
    resize: none;
}
.my-profile .right-element .header {
  line-height: 10px;
}
.my-profile .right-element .header span {
  padding: 8px 0;
  position: absolute;
}
.my-profile .right-element .header .add-new-btn {
  background-color: #313541;
  color: #FFFFFF;
  padding: 8px;
  font-family: "Proxima Nova Regular";
  font-size: 8pt;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
}
#avatar-form {
    display: none;
}

.avatar-upload-popover {
    opacity: 0;
    font-size: 20pt;
    position: relative;
    bottom: 58%;
    left: 42%;
    cursor: pointer;
}
.avatar-upload-popover i {
    color: #EA5A5A;
}