.content_all_user .featured {
    font-family: "Proxima Nova SemiBold";
    font-size: 14px;
    color: #74808f;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.45);
}
.content_all_user ul {
    padding-left: 0;
}

.post-btn {
    font-family: "Proxima Nova Regular" !important;
    /*    background: #ea5a5a repeat-x !important;*/
    font-size: 16px;
}
.footer-post {
    padding: 5px;
}
.footer-post span.add-location {
    margin-top: 13px;
    margin-left: 0;
}

input.seach-tab {
    font-family: "Proxima Nova SemiBold" !important;
}
.content-post h3.my_posted {
    font-family: "Proxima Nova Regular";
    font-size: 20px;
    color: #404040;
}
.content-post h3 span.link_1 {
    font-family: "Proxima Nova ExtraBold";
    color: rgb(234, 90, 90);
    text-shadow: 1px 1.732px 0px rgba(223, 218, 218, 1);
    font-size: 20pt;
}
.comment_post_txt {
    background-position: 98% center;
}
.post {
    box-shadow: 3px 3px 3px rgba(0,0,0,0.25);
}
.comment-post-home ul li {
    padding-right: 0;
}
.user_comment_post > div {
    padding: 0;
}
.comment-post-home ul {
    padding-left: 0;
}
.comment_detail_post {
    font-family: "Proxima Nova Regular";
    color: #4d5a63;
    font-size: 14px;
}
.user_comment_post .dots img {
    height: 8px;
    width: 20px;
    margin-top: 12px;
    float: right;
}
.comment_detail_post {
    width: 100%;
}
.infor_comment h5 span {
    font-family: "Proxima Nova SemiBold", Helvetica, sans-serif;
    font-size: 14px;
    color: #ea5a5a;
}
.infor_comment h6 span {
    font-family: "Proxima Nova Regular", Helvetica, sans-serif;
    font-size: 12px;
}
.comment-post-home ul li div.infor_comment {
    margin-left: 0;
}
.crycle-img h2 a {
    position: relative;
    top: 3px;
    font-family: "HelveticaNueveLtPro Bd";
    font-size: 16px;
    color: #4d5a63;
}
.first-infor .profile .crycle-img h2 span {
    font-family: "HelveticaNueveLtPro Roman";
    font-size: 14px;
    color: #a39c9c;
}
.first-infor .profile .crycle-img h2 span.dot-icon {
    color: #cbc4c4;
    height: 14px;
    line-height: 14px;
    background-position: left 30%;
    background-size: 4px 4px;
    vertical-align: middle;
    top: 1px;
    position: relative;
}
.comment-post-home p span {
    font-family: "Proxima Nova Regular", Helvetica, sans-serif;
    font-size: 15px;
}

textarea.post-textarea {
    font-family: "Proxima Nova Regular", Helvetica, sans-serif;
    padding-top: 15px;
    font-size: 12pt;
    resize: none;
    border: none;
}
textarea.post-textarea::-webkit-input-placeholder { /* WebKit browsers */
    color:    #d2dbe2;
}
textarea.post-textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #d2dbe2;
    opacity:  1;
}
textarea.post-textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #d2dbe2;
    opacity:  1;
}
textarea.post-textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #d2dbe2;
}

.footer-post {
    border-top: 1px solid #cbcbcb;
}
.first-infor {
    padding-bottom: 0;
}
/* Убрать геолокацию */
.comment_post_txt {
    background-image: none;
}
.footer-post span.add-media,
.footer-post span.add-video,
.footer-post span.add-location {
    margin: 8px 15px 15px 0;
    background: none;
    text-indent: 0;
    font-size: 20pt;
    color: #cdc7c7;
    float: left;
    cursor: pointer;
    height: 20px;
}

.footer-post span.add-media > i.no-file,
.footer-post span.add-video > i.no-file,
.footer-post span.add-location > i.no-file {
    background-color: #949494;
    color: transparent;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
.footer-post span.add-location {
    position: relative;
    top: 1px;
}
.footer-post span.add-video {
    position: relative;
    top: 2px;
}

.footer-post span.add-media > i:hover,
.footer-post span.add-video > i:hover,
.footer-post span.add-location > i:hover,
.has-file {
    background-color: #EF2929;
    color: transparent;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}


/* Костыльно */
.img-container {
}
.thumb-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 1px dotted #efefef;
    margin: auto;
    text-align: center;
}
.projekktor {
    width: 100% !important;
}
.geo-tag-container,
.geo-tag-container div {
    padding-left: 0;
    padding-right: 0;
}
.set-geo {
    padding: 9px 5px;
    font-size: 12pt;
    font-family: "Proxima Nova Regular";
    color: #EB4E62;
    text-align: center;
}
.set-geo .fa-close {
    padding-left: 20px;
    cursor: pointer;
}

.geo-info {
    top: 2px;
    position: relative;
    padding-right: 10px;
}
.first-infor .profile .crycle-img .geo-info .at-location {
    color: #EB4E62;
}
.first-infor .profile .crycle-img .geo-info .at-location:hover {
    text-decoration: underline;
    cursor: pointer;
}

.popover {
    position: fixed;
}
.first-infor .profile .popover img {
    border-radius: 0;
}
.popover-content {
    padding: 0;
}

.first-infor .vote .upvote.active {
    background: url('../images/upvote_active.png') no-repeat; /*grey_arrows.png*/
}
.first-infor .vote .downvote.active {
    background: url('../images/downvote_active.png') no-repeat; /*grey_arrows.png*/
}
.first-infor .vote .upvote.notactive {
    background: url('../images/upvote.png') no-repeat; /*grey_arrows.png*/
}
.first-infor .vote .downvote.notactive {
    background: url('../images/downvote.png') no-repeat; /*grey_arrows.png*/
}
.first-infor .vote .vote_amount.active {
    color: #EB4E62;
}