
a.nav span.nav-text {
	opacity:0;
	  top: 25px !important;
	position:relative;
   	-webkit-transition: all 0.3s ease-in-out;
   	-moz-transition: all 0.3s ease-in-out;
   	-o-transition: all 0.3s ease-in-out;
   	-ms-transition: all 0.3s ease-in-out;
   	transition: all 0.3s ease-in-out;

}
.subscribe {  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000)"; /* IE8 */    
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);   /* IE6 & 7 */
  zoom: 1;

}
.submit-button {
	border-radius: 3px;
	behavior: url(PIE.htc);}
	
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {color:rgb(102,102,102);}